<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

   <bean id="helloService" class="services.HelloService"/>
   <bean id="helloServiceAspect" class="services.HelloServiceAspect"/>
   <bean id="product" class="question.Product">
      <property name="pid" value="1"/>
      <property name="name" value="mobile"/>
      <property name="order">
         <bean id="order" class="question.Order">
            <property name="orderId" value="1111"/>
         </bean>
      </property>
   </bean>
   <bean id="employee" class="question.Employee">
      <constructor-arg ref="product"/>
   </bean>
   <aop:aspectj-autoproxy/>
   <aop:config>
      <aop:aspect id="helloAspect" ref="helloServiceAspect">
         <aop:pointcut id="pointBefore" expression="execution(* services.*.*(..))"/>
         <aop:before method="hello" pointcut-ref="pointBefore"/>
      </aop:aspect>
   </aop:config>


</beans>
